
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的订单 - 新久科技商城</title>
    <link rel="stylesheet" type="text/css" href="/static/theme/frontend/default/style/general.css" />
    <link rel="stylesheet" type="text/css" href="/static/theme/frontend/default/style/user.css" />
    <script type="text/javascript" src="/static/theme/frontend/default/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/theme/frontend/default/js/juicer.js"></script>
    <script type="text/javascript" src="/static/theme/frontend/default/js/general.js"></script>
    <script type="text/javascript">
        var userbar = "{:url('User/userbar')}";
        var cartbar = "{:url('User/cartbar')}";
        function cancelOrder(e, order_id){
            $(e).vdsConfirm({
                text: '您确定要取消该订单吗?',
                top: -25,
                confirmed: function(){
                    window.location.href= "cancel?id="+order_id;
                },
            });
        }
    </script>
</head>
<body>
<include file="library/head"/>
<div class="loc w1100">
    <div><a href="{:url('Index/index')}">网站首页</a><b>></b><font>我的订单</font></div>
</div>
<!-- 主体开始 -->
<div class="container w1100 mt10">
    <div class="module cut">
<include file="library/user_left"/>
<!-- 右侧开始 -->
<div class="w910 cut">
    <div class="mcter">
        <h2>我的订单</h2>
        <notempty name="order">
        <div class="order cut">
            <foreach name="order" item="v">
            <div class="tli cut">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th colspan="4">
                            <div class="fl aln-l cut">订单号：<b>{$v.order_sn}</b><span class="sep"></span>下单日期：<b>{:date('y-m-d',$v['created_date'])}</b></div>
                            <div class="fr"><a href="{:url('Order/view',array('id'=>$v['order_sn']))}">订单详情</a></div>
                        </th>
                    </tr>

                    <tr>
                        <td>
                            <foreach name="v.goods_info" item="vv">
                            <dl>
                                <dt><a href="{:url('Item/Index',array('goods_id'=>$vv['goods_id']))}" target="_blank"><img class="gim" src="/static/Uploads/50/{$vv['goods_image']}" /></a></dt>
                                <dd>
                                    <p><a href="{:url('Item/Index',array('goods_id'=>$vv['goods_id']))}" target="_blank">{$vv.goods_name}</a></p>
                                    <neq name="vv.goods_optional" value=" ">
                                    <p class="c999 mt5"><span class="mr5">[{$vv.goods_optional}]</span></p>
                                    </neq>
                                    <p class="mt5"><span class="c999 mr5">单价：</span><font class="cny">¥</font> {$vv.goods_price}</p>
                                    <p class="mt5"><span class="c999 mr5">数量：</span>{$vv.goods_qty}</p>
                                </dd>
                            </dl>
                            </foreach>
                        </td>
                        <td width="120"><p><font class="cny">¥</font> {$v.order_amount}</p><p class="mt5 c999">(含运费：<font class="cny">¥</font> 10.00)</p></td>
                        <td width="120"><eq name="v.payment_method" value="1">余额支付</eq><eq name="v.payment_method" value="2">货到付款</eq><eq name="v.payment_method" value="3">支付宝</eq>
                        </td>
                        <td width="120">
                            <!-- 未付款 -->
                            <if condition="($v.order_status eq 0)">
                                <if condition="($v.payment_method eq 1) OR ($v.payment_method eq 3)">
                                    <p><a class="sm-red btn" href="{:url('Pay/index',array('id'=>$v['order_sn']))}">立即付款</a>  </p>
                                </if>
                                <p class="mt10"><button type="button" class="sm-gray btn" onclick="cancelOrder(this, {$v.order_sn})">取消订单</button></p>
                            </if>
                            <!-- 以付款 -->
                            <if condition="($v.order_status eq 1)">
                                <p class="mt10"><button type="button" class="sm-gray btn" onclick="cancelOrder(this, {$v.order_sn})">取消订单</button></p>
                            </if>
                            <!-- 订单取消 -->
                            <if condition="($v.order_status eq 2)">
                                <p><a class="sm-blue btn" href="{:url('Order/rebuy',array('id'=>$v['order_sn']))}">重新购买</a></p>

                            </if>
                        </td>
                    </tr>
                </table>
            </div>
            </foreach>
        </div>
            <else/>
            <div class="pad10 aln-c c999">暂无任何订单记录</div>
        </notempty>
    </div>
</div>
<!-- 右侧结束 -->
        <include file="user/bott"/>
